#heading1 {
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 70px;
}

.btn.btn-link.btn-block {
  color: rgb(255,255,255);
}

section {
  text-align: left;
}

img {
  text-align: left;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: .375rem 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #dee5eb;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

